<td ng-hide="isFav()">
    <fav-album-fav album="album"></fav-album-fav>
</td>
<td ng-hide="isFav()">
    <img ng-src="images/{{ ::album.image }}" ng-if="::album.image" alt="Imagen" width="64px" height="64px" class="img-rounded" />
</td>
<td ng-hide="isFav()">
    <p>{{ ::album.title }}</p>
    <div>
        <small>
            {{ ::album.band | albumFirma:album.year }}
        </small>
    </div>
</td>
<td ng-hide="isFav()">
    <p>{{ ::album.genre.name}}</p>
</td>
<td class="celda-centrada" ng-hide="isFav()">
    {{ ::album.tracklist.length }}
</td>
